body {
    padding-top: 50px;
}

.errorlist, .error {
    color: red;
}


/* excel table */

#mail_list {
    border-right: 1px solid #eee;
}

#mail_list table tr.no_file {
    display: none;
    background: #eee;
}