{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Send Email{% endblock %}

{% block content %}
<div class="container" style="margin-top: 30px;">
    <form method="POST" action="." class="form-horizontal">
        {% crispy form %}
        <div class="form-group">
            <label for="upload_button" class="col-sm-3 control-label"></label>
            <div class="col-sm-7">
                <input type="submit" name="send" value="Send" class="btn btn-primary" />
            </div>
        </div>        
    </form>
    
    <div style="color: blue;" class="cleafix col-sm-offset-3">
        {{msg}}
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    $('#id_email_list').select2({
        placeholder: 'Please select email list'
    });
    $('#id_file_list').select2({
        placeholder: 'Please select PDF files'
    });
    
</script>
{% endblock %}
